/* General page styling */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #1E90FF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Footer styling */
footer {
    background-color: #1E90FF; 
    color: white; 
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Section styling */
section {
    margin: 20px;
}

h1, h2 {
    margin: 20px 0;
}
