#tinyfoot-container {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

#tinyfoot-button {
  background-color: rgb(77, 215, 149);
  color: white;
  vertical-align: middle;
  padding: 0.5px 10px;
  font-size: 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 100;
}

:host {
  counter-increment: tinyfoot-button;
}

#tinyfoot-button::after {
  content: "⋯";
}

#tinyfoot-button.numeric::after {
  content: counter(tinyfoot-button);
}

#tinyfoot-button:hover {
  background-color: rgba(34, 165, 235, 0.967);
  transform: scale(1.2);
}

#tinyfoot-popup {
  display: inline-block;
  z-index: 99;
  word-wrap: normal;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(0, 127, 206);
  color: rgb(255, 255, 255);

  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(215, 215, 215, 0.342);
  padding: 10px;
  min-width: 120px;

  opacity: 0;

  transition: opacity 200ms ease-in-out;
}

#tinyfoot-popup.active {
  display: inline-block;
  opacity: 1;

  transition: opacity 200ms ease-in-out;
}

#tinyfoot-popup.bottom {
  top: auto; 
  bottom: 40px; 
  transform: translateX(-50%) translateY(100%);
  transform-origin: bottom center;
  transition: opacity 200ms ease-in-out, bottom 200ms ease-in-out;
}

#tinyfoot-popup.active.bottom {
  bottom: 80px; 
  transform: translateX(-50%) translateY(0);
}


/**
prevent the note to be covered by the left hand window
*/
#tinyfoot-popup.left-edge {
  left: 0;
  transform: none;
}

/**
prevent the note to be covered by the right hand window
*/
#tinyfoot-popup.right-edge {
  left: auto;
  right: 0;
  transform: none;
}

/**
prevent the note to be covered by the bottom window
*/
#tinyfoot-popup.bottom-edge {
  top: auto;
  bottom: 0;
  transform-origin: bottom left;
}
